.App{
  background-color: #fafafa;
}

/* .app_header{
  padding: 17px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
}


.instagram_name{
  width: 10%;
  height: 10%;
}


.header_profile{
  display: flex;
} */